.create-page {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.create-card {
    width: 100%;
    max-width: 600px;
}

.create-card h2 {
    text-align: center;
    margin-bottom: 30px;
}

textarea {
    resize: vertical;
}